In [1]:
import pandas as pd
data = pd.read_csv("F:\GUVI\Project\FINAL PROJECT\Cleaned_data_01.csv")

<>:2: SyntaxWarning: invalid escape sequence '\G'
<>:2: SyntaxWarning: invalid escape sequence '\G'
C:\Users\syeda\AppData\Local\Temp\ipykernel_13680\4139652596.py:2: SyntaxWarning: invalid escape sequence '\G'
  data = pd.read_csv("F:\GUVI\Project\FINAL PROJECT\Cleaned_data_01.csv")

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
data.head()

,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,NAME_INCOME_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_CONT_MOBILE,FLAG_EMAIL,OCCUPATION_TYPE,ORGANIZATION_TYPE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_ANNUITY_y,AMT_APPLICATION,AMT_CREDIT_y,AMT_GOODS_PRICE_y,FLAG_LAST_APPL_PER_CONTRACT,NAME_CONTRACT_STATUS,DAYS_DECISION,NFLAG_INSURED_ON_APPROVAL
0,1,Cash loans,M,202500.0,406597.5,24700.5,351000.0,Working,-9461,-637,-3648.0,-2120,1,1,0,Laborers,Business Entity Type 3,2.0,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0,9251.775,179055.0,179055.0,179055.0,Y,Approved,-606,0.0
1,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,98356.995,900000.0,1035882.0,900000.0,Y,Approved,-746,1.0
2,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,64567.665,337500.0,348637.5,337500.0,Y,Approved,-828,0.0
3,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,6737.310,68809.5,68053.5,68809.5,Y,Approved,-2341,1.0
4,0,Revolving loans,M,67500.0,135000.0,6750.0,135000.0,Working,-19046,-225,-4260.0,-2531,1,1,0,Laborers,Government,0.0,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0,5357.250,24282.0,20106.0,24282.0,Y,Approved,-815,0.0

In [4]:
data.duplicated().sum()

0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1341826 entries, 0 to 1341825
Data columns (total 36 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   TARGET                       1341826 non-null  int64
 1   NAME_CONTRACT_TYPE_x         1341826 non-null  object
 2   CODE_GENDER                  1341826 non-null  object
 3   AMT_INCOME_TOTAL             1341826 non-null  float64
 4   AMT_CREDIT_x                 1341826 non-null  float64
 5   AMT_ANNUITY_x                1341826 non-null  float64
 6   AMT_GOODS_PRICE_x            1341826 non-null  float64
 7   NAME_INCOME_TYPE             1341826 non-null  object
 8   DAYS_BIRTH                   1341826 non-null  int64
 9   DAYS_EMPLOYED                1341826 non-null  int64
 10  DAYS_REGISTRATION            1341826 non-null  float64
 11  DAYS_ID_PUBLISH              1341826 non-null  int64
 12  FLAG_MOBIL                   1341826 non-null  int64
 13  FLAG_CONT_MOBILE             1341826 non-null  int64
 14  FLAG_EMAIL                   1341826 non-null  int64
 15  OCCUPATION_TYPE              1341826 non-null  object
 16  ORGANIZATION_TYPE            1341826 non-null  object
 17  OBS_30_CNT_SOCIAL_CIRCLE     1341826 non-null  float64
 18  DEF_30_CNT_SOCIAL_CIRCLE     1341826 non-null  float64
 19  OBS_60_CNT_SOCIAL_CIRCLE     1341826 non-null  float64
 20  DEF_60_CNT_SOCIAL_CIRCLE     1341826 non-null  float64
 21  DAYS_LAST_PHONE_CHANGE       1341826 non-null  float64
 22  AMT_REQ_CREDIT_BUREAU_HOUR   1341826 non-null  float64
 23  AMT_REQ_CREDIT_BUREAU_DAY    1341826 non-null  float64
 24  AMT_REQ_CREDIT_BUREAU_WEEK   1341826 non-null  float64
 25  AMT_REQ_CREDIT_BUREAU_MON    1341826 non-null  float64
 26  AMT_REQ_CREDIT_BUREAU_QRT    1341826 non-null  float64
 27  AMT_REQ_CREDIT_BUREAU_YEAR   1341826 non-null  float64
 28  AMT_ANNUITY_y                1100658 non-null  float64
 29  AMT_APPLICATION              1341826 non-null  float64
 30  AMT_CREDIT_y                 1341825 non-null  float64
 31  AMT_GOODS_PRICE_y            1087353 non-null  float64
 32  FLAG_LAST_APPL_PER_CONTRACT  1341826 non-null  object
 33  NAME_CONTRACT_STATUS         1341826 non-null  object
 34  DAYS_DECISION                1341826 non-null  int64
 35  NFLAG_INSURED_ON_APPROVAL    852495 non-null   float64
dtypes: float64(21), int64(8), object(7)
memory usage: 368.5+ MB

In [6]:
data.isnull().mean() * 100

TARGET                          0.000000
NAME_CONTRACT_TYPE_x            0.000000
CODE_GENDER                     0.000000
AMT_INCOME_TOTAL                0.000000
AMT_CREDIT_x                    0.000000
AMT_ANNUITY_x                   0.000000
AMT_GOODS_PRICE_x               0.000000
NAME_INCOME_TYPE                0.000000
DAYS_BIRTH                      0.000000
DAYS_EMPLOYED                   0.000000
DAYS_REGISTRATION               0.000000
DAYS_ID_PUBLISH                 0.000000
FLAG_MOBIL                      0.000000
FLAG_CONT_MOBILE                0.000000
FLAG_EMAIL                      0.000000
OCCUPATION_TYPE                 0.000000
ORGANIZATION_TYPE               0.000000
OBS_30_CNT_SOCIAL_CIRCLE        0.000000
DEF_30_CNT_SOCIAL_CIRCLE        0.000000
OBS_60_CNT_SOCIAL_CIRCLE        0.000000
DEF_60_CNT_SOCIAL_CIRCLE        0.000000
DAYS_LAST_PHONE_CHANGE          0.000000
AMT_REQ_CREDIT_BUREAU_HOUR      0.000000
AMT_REQ_CREDIT_BUREAU_DAY       0.000000
AMT_REQ_CREDIT_BUREAU_WEEK      0.000000
AMT_REQ_CREDIT_BUREAU_MON       0.000000
AMT_REQ_CREDIT_BUREAU_QRT       0.000000
AMT_REQ_CREDIT_BUREAU_YEAR      0.000000
AMT_ANNUITY_y                  17.973120
AMT_APPLICATION                 0.000000
AMT_CREDIT_y                    0.000075
AMT_GOODS_PRICE_y              18.964679
FLAG_LAST_APPL_PER_CONTRACT     0.000000
NAME_CONTRACT_STATUS            0.000000
DAYS_DECISION                   0.000000
NFLAG_INSURED_ON_APPROVAL      36.467545
dtype: float64

In [7]:
data["AMT_ANNUITY_y"].mean().round(3)

15815.859

In [8]:
data["AMT_ANNUITY_y"] = data["AMT_ANNUITY_y"].fillna(data["AMT_ANNUITY_y"].mean().round(3))

In [9]:
data["AMT_CREDIT_y"].isnull().sum()

1

In [10]:
data["AMT_CREDIT_y"].mean().round(0)

205015.0

In [11]:
data["AMT_CREDIT_y"] = data["AMT_CREDIT_y"].fillna(data["AMT_CREDIT_y"].mean().round(0))

In [12]:
data["AMT_CREDIT_y"].isnull().sum()

0

In [13]:
data["AMT_GOODS_PRICE_y"].mean().round(0)

225772.0

In [14]:
data["AMT_GOODS_PRICE_y"] = data["AMT_GOODS_PRICE_y"].fillna(data["AMT_GOODS_PRICE_y"].mean().round(0))

In [15]:
data["AMT_GOODS_PRICE_y"].isnull().sum()

0

In [16]:
data["NFLAG_INSURED_ON_APPROVAL"].mode()[0]

0.0

In [17]:
data["NFLAG_INSURED_ON_APPROVAL"] = data["NFLAG_INSURED_ON_APPROVAL"].fillna(data["NFLAG_INSURED_ON_APPROVAL"].mode()[0])

In [18]:
data["NFLAG_INSURED_ON_APPROVAL"].isnull().sum()

0

In [19]:
data.isnull().mean() * 100

TARGET                         0.0
NAME_CONTRACT_TYPE_x           0.0
CODE_GENDER                    0.0
AMT_INCOME_TOTAL               0.0
AMT_CREDIT_x                   0.0
AMT_ANNUITY_x                  0.0
AMT_GOODS_PRICE_x              0.0
NAME_INCOME_TYPE               0.0
DAYS_BIRTH                     0.0
DAYS_EMPLOYED                  0.0
DAYS_REGISTRATION              0.0
DAYS_ID_PUBLISH                0.0
FLAG_MOBIL                     0.0
FLAG_CONT_MOBILE               0.0
FLAG_EMAIL                     0.0
OCCUPATION_TYPE                0.0
ORGANIZATION_TYPE              0.0
OBS_30_CNT_SOCIAL_CIRCLE       0.0
DEF_30_CNT_SOCIAL_CIRCLE       0.0
OBS_60_CNT_SOCIAL_CIRCLE       0.0
DEF_60_CNT_SOCIAL_CIRCLE       0.0
DAYS_LAST_PHONE_CHANGE         0.0
AMT_REQ_CREDIT_BUREAU_HOUR     0.0
AMT_REQ_CREDIT_BUREAU_DAY      0.0
AMT_REQ_CREDIT_BUREAU_WEEK     0.0
AMT_REQ_CREDIT_BUREAU_MON      0.0
AMT_REQ_CREDIT_BUREAU_QRT      0.0
AMT_REQ_CREDIT_BUREAU_YEAR     0.0
AMT_ANNUITY_y                  0.0
AMT_APPLICATION                0.0
AMT_CREDIT_y                   0.0
AMT_GOODS_PRICE_y              0.0
FLAG_LAST_APPL_PER_CONTRACT    0.0
NAME_CONTRACT_STATUS           0.0
DAYS_DECISION                  0.0
NFLAG_INSURED_ON_APPROVAL      0.0
dtype: float64

In [20]:
data.duplicated().sum()

1314

In [21]:
data.drop_duplicates(inplace=True)

In [22]:
data.duplicated().sum()

0

In [23]:
data.shape

(1340512, 36)

In [24]:
data.head()

,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,NAME_INCOME_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_CONT_MOBILE,FLAG_EMAIL,OCCUPATION_TYPE,ORGANIZATION_TYPE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_ANNUITY_y,AMT_APPLICATION,AMT_CREDIT_y,AMT_GOODS_PRICE_y,FLAG_LAST_APPL_PER_CONTRACT,NAME_CONTRACT_STATUS,DAYS_DECISION,NFLAG_INSURED_ON_APPROVAL
0,1,Cash loans,M,202500.0,406597.5,24700.5,351000.0,Working,-9461,-637,-3648.0,-2120,1,1,0,Laborers,Business Entity Type 3,2.0,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0,9251.775,179055.0,179055.0,179055.0,Y,Approved,-606,0.0
1,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,98356.995,900000.0,1035882.0,900000.0,Y,Approved,-746,1.0
2,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,64567.665,337500.0,348637.5,337500.0,Y,Approved,-828,0.0
3,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,6737.310,68809.5,68053.5,68809.5,Y,Approved,-2341,1.0
4,0,Revolving loans,M,67500.0,135000.0,6750.0,135000.0,Working,-19046,-225,-4260.0,-2531,1,1,0,Laborers,Government,0.0,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0,5357.250,24282.0,20106.0,24282.0,Y,Approved,-815,0.0

In [25]:
days_col = ["DAYS_BIRTH", "DAYS_EMPLOYED", "DAYS_REGISTRATION", "DAYS_ID_PUBLISH", "DAYS_LAST_PHONE_CHANGE", "DAYS_DECISION"]

In [26]:
# Convert negative days to positive values for all "DAYS_" columns
for col in days_col:
    data[col] = data[col].abs()

In [27]:
data.head()

,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,NAME_INCOME_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_CONT_MOBILE,FLAG_EMAIL,OCCUPATION_TYPE,ORGANIZATION_TYPE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_ANNUITY_y,AMT_APPLICATION,AMT_CREDIT_y,AMT_GOODS_PRICE_y,FLAG_LAST_APPL_PER_CONTRACT,NAME_CONTRACT_STATUS,DAYS_DECISION,NFLAG_INSURED_ON_APPROVAL
0,1,Cash loans,M,202500.0,406597.5,24700.5,351000.0,Working,9461,637,3648.0,2120,1,1,0,Laborers,Business Entity Type 3,2.0,2.0,2.0,2.0,1134.0,0.0,0.0,0.0,0.0,0.0,1.0,9251.775,179055.0,179055.0,179055.0,Y,Approved,606,0.0
1,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,16765,1188,1186.0,291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,828.0,0.0,0.0,0.0,0.0,0.0,0.0,98356.995,900000.0,1035882.0,900000.0,Y,Approved,746,1.0
2,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,16765,1188,1186.0,291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,828.0,0.0,0.0,0.0,0.0,0.0,0.0,64567.665,337500.0,348637.5,337500.0,Y,Approved,828,0.0
3,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,16765,1188,1186.0,291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,828.0,0.0,0.0,0.0,0.0,0.0,0.0,6737.310,68809.5,68053.5,68809.5,Y,Approved,2341,1.0
4,0,Revolving loans,M,67500.0,135000.0,6750.0,135000.0,Working,19046,225,4260.0,2531,1,1,0,Laborers,Government,0.0,0.0,0.0,0.0,815.0,0.0,0.0,0.0,0.0,0.0,0.0,5357.250,24282.0,20106.0,24282.0,Y,Approved,815,0.0

In [28]:
# Convert days to years for better interpretation
for col in days_col:
    data[f"{col}_YEARS"] = (data[col] / 365.25).round(1)

In [29]:
data.head()

,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,NAME_INCOME_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_CONT_MOBILE,FLAG_EMAIL,OCCUPATION_TYPE,ORGANIZATION_TYPE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_ANNUITY_y,AMT_APPLICATION,AMT_CREDIT_y,AMT_GOODS_PRICE_y,FLAG_LAST_APPL_PER_CONTRACT,NAME_CONTRACT_STATUS,DAYS_DECISION,NFLAG_INSURED_ON_APPROVAL,DAYS_BIRTH_YEARS,DAYS_EMPLOYED_YEARS,DAYS_REGISTRATION_YEARS,DAYS_ID_PUBLISH_YEARS,DAYS_LAST_PHONE_CHANGE_YEARS,DAYS_DECISION_YEARS
0,1,Cash loans,M,202500.0,406597.5,24700.5,351000.0,Working,9461,637,3648.0,2120,1,1,0,Laborers,Business Entity Type 3,2.0,2.0,2.0,2.0,1134.0,0.0,0.0,0.0,0.0,0.0,1.0,9251.775,179055.0,179055.0,179055.0,Y,Approved,606,0.0,25.9,1.7,10.0,5.8,3.1,1.7
1,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,16765,1188,1186.0,291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,828.0,0.0,0.0,0.0,0.0,0.0,0.0,98356.995,900000.0,1035882.0,900000.0,Y,Approved,746,1.0,45.9,3.3,3.2,0.8,2.3,2.0
2,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,16765,1188,1186.0,291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,828.0,0.0,0.0,0.0,0.0,0.0,0.0,64567.665,337500.0,348637.5,337500.0,Y,Approved,828,0.0,45.9,3.3,3.2,0.8,2.3,2.3
3,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,16765,1188,1186.0,291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,828.0,0.0,0.0,0.0,0.0,0.0,0.0,6737.310,68809.5,68053.5,68809.5,Y,Approved,2341,1.0,45.9,3.3,3.2,0.8,2.3,6.4
4,0,Revolving loans,M,67500.0,135000.0,6750.0,135000.0,Working,19046,225,4260.0,2531,1,1,0,Laborers,Government,0.0,0.0,0.0,0.0,815.0,0.0,0.0,0.0,0.0,0.0,0.0,5357.250,24282.0,20106.0,24282.0,Y,Approved,815,0.0,52.1,0.6,11.7,6.9,2.2,2.2

In [30]:
data.drop(days_col, axis=1, inplace=True)

In [31]:
data.shape

(1340512, 36)

In [32]:
data.duplicated().sum()

37345

In [33]:
data.drop_duplicates(inplace=True)

In [34]:
data.duplicated().sum()

0

In [35]:
data.shape

(1303167, 36)

In [36]:
data.isnull().mean() * 100

TARGET                          0.0
NAME_CONTRACT_TYPE_x            0.0
CODE_GENDER                     0.0
AMT_INCOME_TOTAL                0.0
AMT_CREDIT_x                    0.0
AMT_ANNUITY_x                   0.0
AMT_GOODS_PRICE_x               0.0
NAME_INCOME_TYPE                0.0
FLAG_MOBIL                      0.0
FLAG_CONT_MOBILE                0.0
FLAG_EMAIL                      0.0
OCCUPATION_TYPE                 0.0
ORGANIZATION_TYPE               0.0
OBS_30_CNT_SOCIAL_CIRCLE        0.0
DEF_30_CNT_SOCIAL_CIRCLE        0.0
OBS_60_CNT_SOCIAL_CIRCLE        0.0
DEF_60_CNT_SOCIAL_CIRCLE        0.0
AMT_REQ_CREDIT_BUREAU_HOUR      0.0
AMT_REQ_CREDIT_BUREAU_DAY       0.0
AMT_REQ_CREDIT_BUREAU_WEEK      0.0
AMT_REQ_CREDIT_BUREAU_MON       0.0
AMT_REQ_CREDIT_BUREAU_QRT       0.0
AMT_REQ_CREDIT_BUREAU_YEAR      0.0
AMT_ANNUITY_y                   0.0
AMT_APPLICATION                 0.0
AMT_CREDIT_y                    0.0
AMT_GOODS_PRICE_y               0.0
FLAG_LAST_APPL_PER_CONTRACT     0.0
NAME_CONTRACT_STATUS            0.0
NFLAG_INSURED_ON_APPROVAL       0.0
DAYS_BIRTH_YEARS                0.0
DAYS_EMPLOYED_YEARS             0.0
DAYS_REGISTRATION_YEARS         0.0
DAYS_ID_PUBLISH_YEARS           0.0
DAYS_LAST_PHONE_CHANGE_YEARS    0.0
DAYS_DECISION_YEARS             0.0
dtype: float64

In [37]:
data.columns

Index(['TARGET', 'NAME_CONTRACT_TYPE_x', 'CODE_GENDER', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT_x', 'AMT_ANNUITY_x', 'AMT_GOODS_PRICE_x',
       'NAME_INCOME_TYPE', 'FLAG_MOBIL', 'FLAG_CONT_MOBILE', 'FLAG_EMAIL',
       'OCCUPATION_TYPE', 'ORGANIZATION_TYPE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'AMT_ANNUITY_y', 'AMT_APPLICATION',
       'AMT_CREDIT_y', 'AMT_GOODS_PRICE_y', 'FLAG_LAST_APPL_PER_CONTRACT',
       'NAME_CONTRACT_STATUS', 'NFLAG_INSURED_ON_APPROVAL', 'DAYS_BIRTH_YEARS',
       'DAYS_EMPLOYED_YEARS', 'DAYS_REGISTRATION_YEARS',
       'DAYS_ID_PUBLISH_YEARS', 'DAYS_LAST_PHONE_CHANGE_YEARS',
       'DAYS_DECISION_YEARS'],
      dtype='object')

In [38]:
data.to_csv("Final_cleaned_data.csv", index=False)