In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("F:\GUVI\Project\FINAL PROJECT\Final_cleaned_data.csv")

<>:1: SyntaxWarning: invalid escape sequence '\G'
<>:1: SyntaxWarning: invalid escape sequence '\G'
C:\Users\syeda\AppData\Local\Temp\ipykernel_18192\1217478590.py:1: SyntaxWarning: invalid escape sequence '\G'
  data = pd.read_csv("F:\GUVI\Project\FINAL PROJECT\Final_cleaned_data.csv")

In [3]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [4]:
data.head()

,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,NAME_INCOME_TYPE,FLAG_MOBIL,FLAG_CONT_MOBILE,FLAG_EMAIL,OCCUPATION_TYPE,ORGANIZATION_TYPE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_ANNUITY_y,AMT_APPLICATION,AMT_CREDIT_y,AMT_GOODS_PRICE_y,FLAG_LAST_APPL_PER_CONTRACT,NAME_CONTRACT_STATUS,NFLAG_INSURED_ON_APPROVAL,DAYS_BIRTH_YEARS,DAYS_EMPLOYED_YEARS,DAYS_REGISTRATION_YEARS,DAYS_ID_PUBLISH_YEARS,DAYS_LAST_PHONE_CHANGE_YEARS,DAYS_DECISION_YEARS
0,1,Cash loans,M,202500.0,406597.5,24700.5,351000.0,Working,1,1,0,Laborers,Business Entity Type 3,2.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,9251.775,179055.0,179055.0,179055.0,Y,Approved,0.0,25.9,1.7,10.0,5.8,3.1,1.7
1,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98356.995,900000.0,1035882.0,900000.0,Y,Approved,1.0,45.9,3.3,3.2,0.8,2.3,2.0
2,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64567.665,337500.0,348637.5,337500.0,Y,Approved,0.0,45.9,3.3,3.2,0.8,2.3,2.3
3,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6737.310,68809.5,68053.5,68809.5,Y,Approved,1.0,45.9,3.3,3.2,0.8,2.3,6.4
4,0,Revolving loans,M,67500.0,135000.0,6750.0,135000.0,Working,1,1,0,Laborers,Government,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5357.250,24282.0,20106.0,24282.0,Y,Approved,0.0,52.1,0.6,11.7,6.9,2.2,2.2

In [5]:
data.shape

(1303167, 36)

In [6]:
impt_feat = ["TARGET","NFLAG_INSURED_ON_APPROVAL", "AMT_REQ_CREDIT_BUREAU_YEAR", "AMT_CREDIT_x", "DAYS_BIRTH_YEARS", "AMT_ANNUITY_y", "DAYS_LAST_PHONE_CHANGE_YEARS", "AMT_ANNUITY_x", "NAME_CONTRACT_STATUS", "AMT_INCOME_TOTAL", "DAYS_ID_PUBLISH_YEARS", "OBS_60_CNT_SOCIAL_CIRCLE", "NAME_CONTRACT_TYPE_x", "OCCUPATION_TYPE"]

In [7]:
data = data[impt_feat]

In [8]:
data.shape

(1303167, 14)

In [9]:
data.duplicated().sum()

70059

In [10]:
data.drop_duplicates(inplace=True)

In [11]:
data.head()

,TARGET,NFLAG_INSURED_ON_APPROVAL,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_CREDIT_x,DAYS_BIRTH_YEARS,AMT_ANNUITY_y,DAYS_LAST_PHONE_CHANGE_YEARS,AMT_ANNUITY_x,NAME_CONTRACT_STATUS,AMT_INCOME_TOTAL,DAYS_ID_PUBLISH_YEARS,OBS_60_CNT_SOCIAL_CIRCLE,NAME_CONTRACT_TYPE_x,OCCUPATION_TYPE
0,1,0.0,1.0,406597.5,25.9,9251.775,3.1,24700.5,Approved,202500.0,5.8,2.0,Cash loans,Laborers
1,0,1.0,0.0,1293502.5,45.9,98356.995,2.3,35698.5,Approved,270000.0,0.8,1.0,Cash loans,Core staff
2,0,0.0,0.0,1293502.5,45.9,64567.665,2.3,35698.5,Approved,270000.0,0.8,1.0,Cash loans,Core staff
3,0,1.0,0.0,1293502.5,45.9,6737.310,2.3,35698.5,Approved,270000.0,0.8,1.0,Cash loans,Core staff
4,0,0.0,0.0,135000.0,52.1,5357.250,2.2,6750.0,Approved,67500.0,6.9,0.0,Revolving loans,Laborers

In [12]:
# data.to_csv("Model Data.csv")

In [18]:
data["NAME_CONTRACT_TYPE_x"].value_counts()

NAME_CONTRACT_TYPE_x
Cash loans         1138645
Revolving loans      94463
Name: count, dtype: int64